<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des auteurs</title>
    <link rel="icon" type="image" href="/images/logo.jpg" width="300px" height="auto">
</head>
<body>
    <h1>Liste des auteurs</h1>

    {% if authors is defined and authors|length > 0 %}
        <p>Nombre d’auteurs : {{ authors|length }}</p>


      {% set total_books = 0 %}
      {% for author in authors %}
      {% endfor %}
      <p>Total de livres : {{ total_books }}</p>


        <table border="1" cellpadding="8">
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            {% for author in authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.username|upper }}</td>
                    <td>{{ author.email }}</td>
                    <td>
                   </td>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <tr><td colspan="5">Aucun auteur n’a été trouvé dans la liste.</td></tr>
    {% endif %}
<br/>
<a href="{{ path('ajouter_auteur_formulaire') }}">📝 Ajouter via formulaire</a>
</body>
</html>
